<!DOCTYPE html>
<html lang="en" ng-app="GlobalModule">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Interview System</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @* Render js,css Libraries*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Angular")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/Custom")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand fa-2x fa fa-home" href="@Url.Action("Index","Home")"></a>
            </div>
            <div class="navbar-collapse fa-1x">
                <ul class="nav navbar-nav">
                    <li class="">@Html.ActionLink(" Online Test", "Index", "Home", new { @class = "fa fa-clock-o" })</li>
                    <li class="dropdown"><a class="fa fa-question check dropdown-toggle" data-toggle="dropdown" href="#"> Question<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Question")">Create Question</a></li>                            
                            <li><a href="#">Excel Import</a></li>
                            <li><a href="#">Generate Exam</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a class="fa fa-cog check dropdown-toggle" data-toggle="dropdown" href="#"> Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","User")">Manage Users </a></li>                          
                            <li><a href="#">Manage Candidates </a></li>
                            <li><a href="#">Exams</a></li>
                            
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="glyphicon glyphicon-user">@User.Identity.Name</a></li>
                    <li>
                        <img class="" class="img-responsive" src="~/Images/bosch_logo_english.png">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    @* Notify Message *@
    <div class="alerts" ng-show="queue.length">
        <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in queue">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <label>{{m.title}}</label>
            <div>{{m.body}}</div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @* Modal Template Definition  *@
    <script type="text/ng-template" id="messageModal.html">
    
            <div class="modal-header" >
                <h4 class="modal-title">{{data.Title}}</h4>
            </div>
            <div class="modal-body">
                {{data.Content}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="cancel()" ng-show="data.ButtonCancel">{{data.ButtonCancel}}</button>
                <button class="btn btn-primary" ng-click="ok()" ng-show="data.ButtonOk">{{data.ButtonOk}}</button>
            </div>
        
    </script>
    <link id="appPath" href="@Url.Content("~/")" hidden rel="linkroot" />
</body>
</html>
