<!DOCTYPE html>
<html lang="en" ng-app="GlobalModule">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - B2B System</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/Custom")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="container">
        <div class="navbar-brand"><strong>Interview System</strong></div>
        <div class="pull-right">
            <img src="~/Images/bosch_logo_english.png " class="img-responsive " border="0" title="Bosch - Invented for life" alt="Bosch - Invented for life" style="width:128px; height:63px;" />
        </div>
    </nav>
    <nav class="nav navbar-inverse">
        <div class="container">
            <div class="pull-left">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Online Test", "", "", null, new { @class = "fa fa-home" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <link rel="appPathValue" id="appPath" href="@Url.Content("~/")" />
    @* Modal Message Template Definition  *@
    <script type="text/ng-template" id="messageModal.html">
        <div class="modal-header bg-primary">
            <div class="modal-title">{{data.Title}}</div>
        </div>
        <div class="modal-body">
            {{data.Content}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()" ng-show="data.CancelButton">{{data.CancelButton}}</button>
            <button class="btn btn-primary" ng-click="ok()" ng-show="data.OkButton">{{data.OkButton}}</button>
        </div>
    </script>

    @* Grid Modal Template Definition  *@
    <script type="text/ng-template" id="gridModal.html">
        <div class="modal-header bg-primary">
            <div class="modal-title">{{data.Title}}</div>
        </div>
        <div class="modal-body">
            @*{{data.Content}}*@
            <div external-scopes="$scope" ui-grid-pagination ui-grid-edit ui-grid-resize-columns ui-grid="gridOptions"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()" ng-show="data.CancelButton">{{data.CancelButton}}</button>
            <button class="btn btn-primary" ng-click="ok()" ng-show="data.OkButton">{{data.OkButton}}</button>
        </div>
    </script>
</body>
</html>
